{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>

    <title>{% block title %}GOOD BOOKS{% endblock title %} </title>
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="">GOOD BOOKS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Catalogue</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'books:book-show' %}">All books</a></li>
                    <li><a class="dropdown-item" href="{% url 'books:book-detective' %}">Detectives</a></li>
                    <li><a class="dropdown-item" href="{% url 'books:book-fantastic' %}">Fantastic</a></li>
                    <li><a class="dropdown-item" href="{% url 'books:book-novel' %}">Novels</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:delivery' %}">Terms of delivery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'orders:show-cart' %}">Cart</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Hello {{user.username}}</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'homepage:profile-detail' pk=user.pk %}">My profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                    <li><a class="dropdown-item" href="{% url 'orders:list-order' %}">My orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

                {% if perms.books.change_book %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Administrative portal</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'orders:list-allorder' %}">Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'books:book-list' %}">Books</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:author-list' %}">Authors</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:serie-list' %}">Series</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:genrie-list' %}">Genries</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:ph-list' %}">Publishing Houses</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:cover-list' %}">Covers</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:al-list' %}">Age Limits</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:rate-list' %}">Rates</a></li>
                    <li><a class="dropdown-item" href="{% url 'referencies:status-list' %}">Statuses</a></li>
                  </ul>
                </li>
                {% endif %}

                
              </ul>

              <form action="{% url 'homepage:search-results' %}" class="d-flex" role="search" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      <!-- Begin page content -->



    <main class="flex-shrink-0">

    
        <div class="container">
  
            {% block body %}
            No content
            {% endblock body %}
        </div>
    </main>
  
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">
            <p>GOOD BOOKS</p> 
        </div>
    </footer>
</body>
</html>