{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{operation_name}}
{% endblock title %}
{% block body %}
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <a class="nav-link" href="{% url 'orders:list-allorder' %}">Orders</a>
    <a class="nav-link" href="{% url 'books:book-list' %}">Books</a>
    <a class="nav-link" href="{% url 'referencies:author-list' %}">Authors</a>
    <a class="nav-link" href="{% url 'referencies:serie-list' %}">Series</a>
    <a class="nav-link" href="{% url 'referencies:genrie-list' %}">Genries</a>
    <a class="nav-link" href="{% url 'referencies:ph-list' %}">Publishing Houses</a>
    <a class="nav-link" href="{% url 'referencies:cover-list' %}">Covers</a>
    <a class="nav-link" href="{% url 'referencies:al-list' %}">Age Limits</a>
    <a class="nav-link" href="{% url 'referencies:rate-list' %}">Rates</a>
    <a class="nav-link" href="{% url 'referencies:status-list' %}">Statuses</a>
  </nav>
</div>
<h1>ADMINISTRATIVE PORTAL</h1>

{% endblock body %}
