{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Details
{% endblock title %}
{% block body %}
<div class="container">
    <div class='row'>
        <div class="col-3">
            <img src="{{ object.logo.url }}" class="card-img-top" alt="..."  >
        </div>
        <div class="col-1">
        </div>
        <div class="col-4">
            <h1><strong>{{ object.name }}</strong></h1>
            <h3>by {{ object.book_author }}</h3>            
            <table border="0" >
                <tr>
                    <td width="200">Price, &#163:</td>
                    <td><strong>{{ object.price }}</strong></td>
                </tr>
                <tr>
                    <td >Serie:</td>
                    <td><strong>{{ object.book_serie }}</strong></td>
                </tr>
                <tr>
                    <td >Genrie:</td>
                    <td><strong>{{ object.book_genrie }}</strong></td>
                </tr>
                <tr>
                    <td >Year of publishing:</td>
                    <td><strong>{{ object.book_year }}</strong></td>
                </tr>
                <tr>
                    <td >Number of pages:</td>
                    <td><strong>{{ object.book_pages }}</strong></td>
                </tr>
                <tr>
                    <td >Cover:</td>
                    <td><strong>{{ object.book_cover }}</strong></td>
                </tr>
                <tr>
                    <td >Format:</td>
                    <td><strong>{{ object.book_format }}</strong></td>
                </tr>
                <tr>
                    <td >ISBN:</td>
                    <td><strong>{{ object.book_isbn }}</strong></td>
                </tr>
                <tr>
                    <td >Mass:</td>
                    <td><strong>{{ object.book_mass }}</strong></td>
                </tr>
                <tr>
                    <td >Age limits:</td>
                    <td><strong>{{ object.book_age_limits }}</strong></td>
                </tr>
                <tr>
                    <td >Publishing House:</td>
                    <td><strong>{{ object.book_ph }}</strong></td>
                </tr>
                <tr>
                    <td >Rating:</td>
                    <td><strong>{{ object.book_rating }}</strong></td>
                </tr>   
            </table>
        </div>
    </div>
</div>
<div align="right">
    <form action="{% url 'orders:show-cart' %}" method="post">
        {% csrf_token %}
        <input type="number" name="quantity" value="1" step="1" min="1">
        <input type="hidden" name="book_pk" value="{{ object.pk }}">
        <button type="submit" class="btn btn-success">Add to Cart</button>
    </form>
</div>
<br>

<h5>Comments</h5>
{% for obj in comments %}
<div class="container">
	<div class="row comment">
	    <div class="head">
	        <small><strong class='user'>{{ obj.user }}</strong> {{ obj.created_date }}</small>
	    </div>    
	    <p>{{ obj.comment }}</p>
	</div>
</div>
<hr>
{% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'books:comment-create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="book_pk" value="{{ object.pk }}">
    <button type="submit" class="btn btn-success">Send</button>
</form>
{% else %}
<p>Please log in to leave a comment</p>
{% endif %}



{% endblock body %}
