{% extends "base.html" %}

{% block title %}
{{operation_name}}
{% endblock title %}
{% block body %}
<h1>{{operation_name}}</h1>
<div class="container">
    <div class="row">
    <div> 
        <table class="table table-bordered border-primary">
            <tr>
                {% if perms.books.change_book %}
                <th>ID number</th>
                {% endif %}
                <th>Logo</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Add to cart</th>
                {% if perms.books.change_book %}
                <th>Delete</th>
                {% endif %}
            </tr>
            {% for obj in object_list %}
            <tr>
                {% if perms.books.change_book %}
                <td><a href="{% url url_update_name pk=obj.pk %}">{{ obj.pk }}</a> </td>
                {% endif %}
                <td> <img src="{{ obj.logo.url }}" width="100" height="100"  alt="..."  > </td>
                <td> <a href="{% url url_detail_name pk=obj.pk %}">{{ obj.name }}</a> </td>
                <td> {{ obj.book_author }} </td>

                <td> {{ obj.price }} </td>
                <td>
                    <form action="{% url 'orders:show-cart' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" step="1" min="1">
                        <input type="hidden" name="book_pk" value="{{ obj.pk }}">
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </td>
                {% if perms.books.delete_book %}
                <td><a href="{% url url_delete_name pk=obj.pk %}" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a> </td>
                {% endif %}            
            </tr>
        {% endfor %}
        </table>
        {% if perms.books.delete_book %}
        <a href="{% url url_create_name %}" class="addlink">{{ operation_for_add }}</a>
        {% endif %}           
        
    </div>
    <div class="col-6"></div>
 </div>

{% endblock body %}
