{% extends "base.html" %}

{% block title %}
Home page
{% endblock title %}

{% block body %}


{% comment %} <div align='right'>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'homepage:signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div> {% endcomment %}

<div class="container">
    <h1>New in catalogue</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{{ photo1.logo.url }}" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <h5 class="card-title">{{ photo1.name }}</h5>
                    <p class="card-text">{{ photo1.obj.name }}</p>
                    <a href="{% url 'books:book-detail' pk=photo1.pk %}" class="btn btn-primary">Look frought details</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ photo2.logo.url }}" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <h5 class="card-title">{{ photo2.name }}</h5>
                    <p class="card-text">{{ photo2.obj.name }}</p>
                    <a href="{% url 'books:book-detail' pk=photo2.pk %}" class="btn btn-primary">Look frought details</a>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ photo3.logo.url }}" class="card-img-top" alt="..."height="230px">
                <div class="card-body">
                    <h5 class="card-title">{{ photo3.name }}</h5>
                    <p class="card-text">{{ photo3.obj.name }}</p>
                    <a href="{% url 'books:book-detail' pk=photo3.pk %}" class="btn btn-primary">Look frought details</a>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ photo4.logo.url }}" class="card-img-top" alt="..."height="230px">
                <div class="card-body">
                    <h5 class="card-title">{{ photo4.name }}</h5>
                    <p class="card-text">{{ photo4.obj.name }}</p>
                    <a href="{% url 'books:book-detail' pk=photo4.pk %}" class="btn btn-primary">Look frought details</a>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="card">
                <img src="{{ photo5.logo.url }}" class="card-img-top" alt="..."height="230px">
                <div class="card-body">
                    <h5 class="card-title">{{ photo5.name }}</h5>
                    <p class="card-text">{{ photo5.obj.name }}</p>
                    <a href="{% url 'books:book-detail' pk=photo5.pk %}" class="btn btn-primary">Look frought details</a>
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock body %}
