{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{operation_name}}
{% endblock title %}

{% block body %}
    <div class='row'>
        {% for obj in object_list %}
        <div class="col-3" >
            <div class="card">
                <img src="{{ obj.logo.url }}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'books:book-detail' pk=obj.pk %}">{{ obj.name }}</a></h5>
                    <p class="card-text">by {{ obj.book_author }}</p>
                    <form action="{% url 'orders:show-cart' %}" method="post">
                        {% csrf_token %}
                        <input type="number" max="50" name="quantity" value="1" step="1" min="1">
                        <input type="hidden" name="book_pk" value="{{ obj.pk }}">
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock body %}
