{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}

<h1>My orders</h1>
{% endblock title %}
{% block body %}

<div class="container">
    <div class="row">
        {% if my_orders %}
        <table class="table table-bordered border-primary">
            <tr>
                <th>Order number</th>
                <th>Status</th>
                <th>Customer</th>
                <th>Date of creation</th>
                <th>Total costs</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Additional info</th>
            </tr>

            {% for obj in my_orders %}
            <tr>
                <td><a href="{% url url_detail_name pk=obj.pk %}">{{ obj.pk }}</a></td>
                <td>{{ obj.status }}</td>
                <td>{{ obj.created_date }}</td>
                <td>{{ obj.cart.total_costs }}</td>
                <td>{{ obj.phone }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.additional_info }}</td>
                <td><a href="{% url url_delete_name pk=obj.pk %}" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a> </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>There are no any orders</h3>
        {% endif %}
       


 </div>

{% endblock body %}
