<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить запись</title>
</head>
<body>
    <h1>Удалить запись</h1>
    <table border="1">
        <tr>
            <td>Номер</td>
            <td>Имя</td>
            <td>Описание</td>
        </tr>
        <tr>
            <td> {{ object.pk }}</td>
            <td> {{object.name }}</td>
            <td> {{object.description }}</td>
        </tr>

    </table>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="Удалить">
    </form>

</body>
</html>