{% extends "base.html" %}
{% block title %}
Удалить запись
{% endblock title %}
{% block body %}
<h1>Удалить запись</h1>
    <table class="table table-bordered border-primary">
        <tr>
            <td>Номер</td>
            <td>Имя</td>
            <td>Описание</td>
        </tr>
        <tr>
            <td> {{ object.pk }}</td>
            <td> {{object.name }}</td>
            <td> {{object.description }}</td>
        </tr>

    </table>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning bi bi-trash-fill"></button>
    </form>
{% endblock body %}
{% block footer %}
Footer for delete
{% endblock footer %}