{% extends "base.html" %}
{% block title %}
Запись
{% endblock title %}
{% block body %}
<div class="row">
    <div class="col-6"> 
        <table class="table table-bordered border-primary">
            <tr>
                <th>Номер</td>
                <th>Имя</td>
                <th>Описание</td>
            </tr>
            <tr>
                <td> {{ object.pk }}</td>
                <td> {{ object.name }}</td>
                <td> {{ object.description }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6"></div>
</div>
{% endblock body %}
{% block footer %}
Footer for detail
{% endblock footer %}