{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Details
{% endblock title %}
{% block body %}
<div class="row">

    <div class="col-6"> 
        <table class="table table-bordered border-primary">
            <tr>
                <th>Number</td>
                <th>Name</td>
                <th>Description</td>
            </tr>
            <tr>
                <td> {{ object.pk }}</td>
                <td> {{ object.name }}</td>
                <td> {{ object.description }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6"></div>
</div>
{% endblock body %}
