{% extends "base.html" %}
{% block title %}
Список записей
{% endblock title %}
{% block body %}
<h1>Список серий</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
    <table class="table table-bordered border-primary">
    {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'referencies:serie-update' pk=obj.pk %}">{{ obj.pk }}</a> </td>
            <td> {{obj.name}} </td>
            <td><a href="{% url 'referencies:serie-delete' pk=obj.pk %}" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a> </td>
        </tr>
    {% endfor %}
</table>
    </div>
    <div class="col-6"></div>
  </div>

{% endblock body %}
{% block footer %}
Footer for serie-list
{% endblock footer %}